/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
	height: -webkit-fill-available;
	overflow: hidden;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	background: #E3EDF7;
	overflow: hidden;
}


.clock {
	position: relative;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	background: #E3EDF7;
	-webkit-box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.58),
		-16px -2px 56px #FFFFFF;
	box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.58),
		-16px -2px 56px #FFFFFF;
}

.clock::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 6px 4px 16px rgba(136, 165, 191, 0.58),
		-2px -2px 9px rgba(255, 255, 255, 0.8);
	box-shadow: 6px 4px 16px rgba(136, 165, 191, 0.58),
		-2px -2px 9px rgba(255, 255, 255, 0.8);
}

.clock-hand {
	position: absolute;
	left: 50%;
	bottom: 50%;
	z-index: 10;
	width: 3px;
	border-radius: 2px;
	--rotation: 30;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
	-ms-transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
	transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock-hand.clock-hand--seconds {
	height: 35%;
	background: #F7455C;
}

.clock-hand.clock-hand--hour {
	width: 3px;
	height: 19%;
	background: #828282;
}

.clock-hand--hour:after {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 3px;
	height: 20px;
	background: #828282;
}

.clock-hand--seconds:after {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 3px;
	height: 20px;
	background: #F7455C;
}

.clock-numbers {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	--rotation: 0;
	border-radius: 50%;
	-webkit-transform: rotate(var(--rotation));
	-ms-transform: rotate(var(--rotation));
	transform: rotate(var(--rotation));
}

.clock-numbers--style::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 18px;
	background: #B7C5D3;
}

.clock-numbers.clock-numbers--twelve {
	--rotation: 0deg
}

.clock-numbers.clock-numbers--three {
	--rotation: 90deg
}

.clock-numbers.clock-numbers--six {
	--rotation: 180deg
}

.clock-numbers.clock-numbers--nine {
	--rotation: 270deg
}



/* media */
@media all and (min-width: 1000px),
all and (min-height: 1080px) {
	.clock {
		width: 640px;
		height: 640px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (orientation : landscape) {
	body, html {
		overflow: auto;
	}
}

@media only screen and (max-width : 340px) {
	.clock {
		width: 250px;
		height: 250px;
	}
}